.content {
  padding: 2rem;
  background-color: #fafbff;
  width: 100%;
}

.row-top {
  height: 5rem;
}

.spacing {
  height: 2rem;
}

.spacing-middle {
  height: 4rem;
}

.row-middle {
  height: 27rem;
}

.row-bottom {
  height: 27rem;
  margin-bottom: 2rem;
}



